body {
  font-family: 'Roboto', sans-serif;
}

.key {
  font-family: monospace;
  margin-bottom:  2px;
  width: 50px;
  background-color: lightgrey;
}

.equalkey {
  width: 210px;
}

.startheight {
  height: 75px;
}

