body {
  font-family: 'Roboto', sans-serif;
  /* body padding for fixed nav bar */
  padding-top: 70px;
}

#pomodoro {
  font-size: 5em;
}

.param-name {
  width: 180px;
  text-align: right;
}

.btn-width {
  width: 120px;
}

.col-centered{
    margin: 0 auto;
    float: none;
}
/* vim: set fdm=marker fmr={,}: */
