body {
  font-family: 'Roboto', sans-serif;
  /* body padding for fixed nav bar */
  padding-top: 70px;
}

#pomodoro {
  /* https://drafts.csswg.org/css-values/#viewport-relative-lengths */
  font-size: 10vw;
  line-height: 1;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.param-name {
  width: 50%;
  text-align: right;
}

@media (min-width: @screen-sm-min) {

}



.test {
  background-color: lightgrey
}
/* vim: set fdm=marker fmr={,}: */
